*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.first{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.human-side, .computer-side{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.human-side{
    background-color: cornflowerblue;
}

.computer-side{
    background-color: indianred;
}

.playing-box button{
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: 0.75em;
    background-color: #000000;
}

.button{
    display: block;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 0.75em;
    padding: 0.75em 1.5em;
    background: #e8e8e8;
    color: #000000;
    transform: translateY(-0.2em);
    transition: transfrom 0.1s ease;
}

button:hover .button{
    transform: translateY(-0.33em)
}

button:active .button{
    transform: translateY(0);
}

.game-modal{
    position: fixed;
    left: 0;
    top: 0 ;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.game-modal.show{
    opacity: 1;
    pointer-events: auto;
}