*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter','Courier New', Courier, monospace;
}

*, *::before, *::after{
    box-sizing: inherit;
}

:root{
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
}

@supports (font-variation-settings: normal){
    :root{font-family: InterVariable,sans-serif;}
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.header{
    display: flex;
    justify-content: center;
    padding: 40px 0px;
    background-color: #2f3640;
    width: 100vw;
}

.title{
    font-size: 32px;
    color: #00a8ff;
}

.first{
    width: 100vw;
    height: 86vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.human-side, .computer-side{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.human-side{
    background-color: #273c75;
}

.computer-side{
    background-color: #7f8fa6;
}

.playing-box button{
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: 0.75em;
    background-color: #000000;
}

.computer-box button{
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: 0.75em;
    background-color: #000000;
    pointer-events: none;
}

.button{
    display: block;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 0.75em;
    padding: 0.75em 1.5em;
    background: #e8e8e8;
    color: #000000;
    transform: translateY(-0.2em);
    transition: transfrom 0.1s ease;
}

button:hover .button{
    transform: translateY(-0.33em)
}

button:active .button{
    transform: translateY(0);
}

.heading{
    background-color: slategray;
    color: #ffffff;
    font-size: 17px;
    padding: 0.7em 1.8em;
    border-radius: 50px;
}

.game-modal{
    position: fixed;
    left: 0;
    top: 0 ;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.game-modal.show{
    opacity: 1;
    pointer-events: auto;
}